{%extends 'base.html'%}
{% block title%} Sign UP {%endblock%}
{% block content %}
 <div class="container">
  <div class="row">
    <div class="col-lg-7 col-xl-6 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex ">
           <!-- Background image for card set in CSS! -->
         </div>
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form class="form-signin" method="POST" >
            {%csrf_token%}
            {{form.as_p}}

            <button class="btn btn-lg btn-primary btn-block  text-uppercase rounded" type="submit">Register</button>
            <a class="d-block text-center mt-2 small" href="{%url 'login:login' %}">Sign In</a>
            <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase disabled" type="submit"><i class="fa fa-google mr-2"></i> Sign up with Google</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>  


{% endblock %}
