*{
 margin: 0;
 padding: 0;
}
.overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:150%;
    z-index:1000;
  }
html, body {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0;

}



body{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image: url(../images/2052174.jpg);
 width: 100%;
 height: 100%;
 font-family: 'Times New Roman', Times, serif;
 letter-spacing: 0.02em;
 font-weight: 400;
 -webkit-font-smoothing: antialiased;
}
.full-height {
  height: 100%;
  width:100%;
  left:0;
  right:0;
  bottom:0;
  overflow: auto;
  margin-top: 10px;
  text-align: center;

}
.full-height::-webkit-scrollbar {
  display: none;
}
.full-height {
  -ms-overflow-style: none;
}

#more {display: none;}


.logo{
  width: 100%;
  height: 100%;
}


.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color:red !important;}

.navbar{
  background: rgba(24, 23, 23, 0.541)
}


.navbar a {
  color : red;
  font-weight: bold;



}
.navbar a:hover { color: whitesmoke; font-weight: bolder;}
.navbar-brand {
	font-family: times;
	font-size: 25px;

}

.glass-wrap {
  height: inherit;
  width: inherit;

  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3), inset 5px -5px 0px 5px rgba(200, 200, 200, 0.15), inset -2px -2px 0px 5px rgba(195, 195, 195, 0.15);
  padding: 5%;
  margin-top: 30%;
  display: inline-block;
}
.glass {
  height:auto;
  width: auto ;
  background: rgba(180, 180, 180, 0.13);
  padding : 10%;

  margin-top: 30%;

}




.zoom {
  transition: transform .2s;}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
img{
 pointer-events: none;
}


.features h1{
  font-family: times;
    color:whitesmoke;
 font-weight: bolder;
  font-size: 30px;
  }
 .features p {
   font-family: times ;
   color:red;
   font-size: 20px;
   font-weight: bolder;



 }

 .form *{
   color: white;
   font-family:times;

 }
 .form .form-control{
   background-color: rgba(0,0,0,0 );
   color:rgb(169, 169, 169) ;
 }


 body { width: 100%; height: 100%; }
 .btn-group-fab {
   position: fixed;
   width: 50px;
   height: auto;
   right: 20px; bottom: 20px;
 }
 .btn-group-fab div {
   position: relative; width: 100%;
   height: auto;
 }
a,
 .btn-group-fab a label {
   cursor: pointer;
 }
 .btn-group-fab .btn {
   position: absolute;
   bottom: 0;
   border-radius: 50%;
   display: block;
   margin-bottom: 4px;
   width: 40px; height: 40px;
   margin: 4px auto;
 }
 .btn-group-fab .btn-main {
   width: 50px; height: 50px;
   right: 50%; margin-right: -25px;
   z-index: 9;
 }

 .btn-group-fab .btn-sub {
   bottom: 0; z-index: 8;
   right: 50%;
   margin-right: -20px;
   -webkit-transition: all 0.5  s;
   transition: all 0.5s;
 }
 .btn-group-fab.active .btn-sub:nth-child(2) {
   bottom: 60px;
 }
 .btn-group-fab.active .btn-sub:nth-child(3) {
   bottom: 110px;
 }
 .btn-group-fab.active .btn-sub:nth-child(4) {
   bottom: 160px;
 }
 .btn-group-fab .btn-sub:nth-child(5) {
   bottom: 210px;
 }


.preloader {
  align-items: center;
  background: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transform: opacity 1s linear;
}

.preloader.loaded{
  opacity: 0;

  display: none;
}


.card-body *{
  background-color: rgba(0,0,0,0 );
   color: white;
   font-family:times;
} 

.btn-fab-left {
  position: fixed;
  width: 50px;
  height: auto;
  left:20px; top: 20px;
}

.btn-fab-right {
  position: fixed;
  width: 50px;
  height: auto;
  right:20px; top: 20px;
}


/********************/
@media (min-width: 481px) and (max-width: 767px) {
            .logo{
              width: 100%;
              padding: 10%;

            }
            .glass {
              width: 100%;
              height: 100%;
              padding :0;
              margin-top: 20px;
              background: rgba(180, 180, 180, 0.13);


}

.btn-fab-right {
  position: fixed;
  width: 50px;
  height: auto;
 left:20px; bottom: 20px;
}
        }



        @media (min-width: 768px) and (max-width: 1024px) {
            .logo{
            	width: 100%;
            }
             .glass {
              width: 100%;
              height: 100%;
              padding : 5%;
               margin-top: 20px;
              background: rgba(180, 180, 180, 0.13);
                    }
                                                          }
 @media (min-width: 1025px) and (max-width: 1280px){
            .logo{
              width :50%;

            }
            .glass
          {
            margin-top: 100px;
          }
          .btn-fab-right {
  position: fixed;
  width: 50px;
  height: auto;
 left:20px; bottom: 20px;
}
        }

 /* Media Query for Large screens */
        @media (min-width: 1281px) {
            .logo{
              width:50%;

            }
            .glass{
              margin-top: 100px;
            }
        }
