{%extends 'base.html'%}
{% block title%} Huskdata(register) {%endblock%}
{% block content %}
 
<button type="submit" class="btn btn-fab-left btn-warning has-tooltip" data-placement="left" title="Register" onclick ="window.location.href = 'home';">
 <i class="fas fa-home"></i> </button>

 <button type="submit" class="btn btn-fab-right btn-warning has-tooltip" data-placement="left" title="Register" onclick ="window.location.href = 'signin';">
<i class="fas fa-arrow-alt-circle-right"></i></button>
<!-- Material form register -->
<div class="glass-wrap glass text-center" style=" margin-top:6%; margin-left:30%; padding :5% ; background-color:rgba(0,0,0,0.6);">

    <h5 class="  h3 text-center text-danger" style="font-family:Times New Roman">
        Sign up
    </h5>

    <!--Card content-->
    <div class="card-body ">

        <!-- Form -->
        <form class="text-center " style=" font-family:Times new Roman" method="POST">
          {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" required placeholder="john" name="firstname" style = "padding:5px; background-color:rgba(0,0,0,0); color:seashell; border:0;outline:0 ; border-bottom: 1px solid red ">
                        <label for="materialRegisterFormFirstName">First name</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormLastName" class="form-control" required placeholder="snow" name ="lastname" style = " padding:5px;background-color:rgba(0,0,0,0); color:seashell; border:0;outline:0 ; border-bottom: 1px solid red;">
                        <label for="materialRegisterFormLastName">Last name</label>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                    <input type="text" id="materialRegisterFormUsername" class="form-control" required name = "username" placeholder ="john12" style = "padding:5px;background-color:rgba(0,0,0,0); color:seashell; border:0;outline:0 ; border-bottom: 1px solid red;" >
                    <label for="materialRegisterFormUsername">Username</label>
            </div>
            <!--useranme-->
             <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormEmail" class="form-control px-2" placeholder = "John.snow@xyz.com" required name = "email" style = "background-color:rgba(0,0,0,0); color:seashell; border:0;outline:0 ; border-bottom: 1px solid red;"> 
                <label for="materialRegisterFormEmail" class="p-2">Email</label>
            </div>


            <!-- Password -->

             <div class="form-row">
                <div class="col">
                    <!--Password -->
                    <div class="md-form">
                <input type="password" id="materialRegisterFormPassword" class="form-control p-2" placeholder="******** " aria-describedby="materialRegisterFormPasswordHelpBlock" required name = "password" style = "background-color:rgba(0,0,0,0); color:seashell; border:0;outline:0 ; border-bottom: 1px solid red;">
                        <label for="materialRegisterFormPassword">Password</label>
                    </div>
                </div>
                <div class="col">
                    <!-- confirm -->
                    <div class="md-form">
                <input type="password" id="materialRegisterFormPhone" class="form-control p-2" placeholder="********" aria-describedby="materialRegisterFormPhoneHelpBlock" required  style = "background-color:rgba(0,0,0,0); color:seashell; border:0;outline:0 ; border-bottom: 1px solid red;" >
                      <label for="materialRegisterFormPassword">Password (confirm)</label>
                    </div>
                </div>
            </div>
            
                        
               
                

            
            <button class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0 text-light   " type="submit">Register</button>

          

            
           

        </form>
    
    </div>

</div>
<!-- Material form register -->
</div>

{% endblock %}
