{%extends 'base.html'%}
{% block title%} Huskdata(register) {%endblock%}
{% block content %}
 
<button type="submit" class="btn btn-fab-left btn-warning has-tooltip" data-placement="left" title="Register" onclick ="window.location.href = 'home';">
 <i class="fas fa-home"></i> </button>

 <button type="submit" class="btn btn-fab-right btn-warning has-tooltip" data-placement="left" title="Register" onclick ="window.location.href = 'signin';">
<i class="fas fa-arrow-alt-circle-right"></i></button>
<!-- Material form register -->

<center>
<div class="glass-wrap glass  " style="background-color:rgba(0,0,0,0.5);">

    <h5 class="  h3 text-center " style="font-family:Times New Roman ;color : #FFC500;">
        Sign UP
    </h5>

    <!--Card content-->
    <div  >

        <!-- Form -->
        <form class=" " style=" font-family:Times new Roman ;text-align:justify;" method="POST">
          {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <label for="materialRegisterFormFirstName">First name</label>
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" required placeholder="john" name="firstname" >
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <label for="materialRegisterFormLastName">Last name</label>
                        <input type="text" id="materialRegisterFormLastName" class="form-control" required placeholder="snow" name ="lastname" >
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-2">
                    <label for="materialRegisterForusername" >UserName</label>
                    <input type="text" id="materialRegisterFormUsername" class="form-control" required name = "username" placeholder ="john12" >  </label>
            </div>
            <!--useranme-->
             <div class="md-form mt-2">
                <label for="materialRegisterFormEmail" >Email</label>
                <input type="email" id="materialRegisterFormEmail" class="form-control px-2" placeholder = "John.snow@xyz.com" required name = "email" > 
            </div>


            <!-- Password -->

             <div class="form-row">
                <div class="col">
                    <!--Password -->
                    <div class="md-form mt-5" >
                        <label for="materialRegisterFormPassword"  >Password</label>
                <input type="password" id="materialRegisterFormPassword" class="form-control p-2" placeholder="******** " aria-describedby="materialRegisterFormPasswordHelpBlock" required name = "password">
                    </div>
                </div>
                <div class="col">
                    <!-- confirm -->
                    <div class="md-form mt-5">
                      <label for="materialRegisterFormPassword">Password (confirm)</label>
                <input type="password" id="materialRegisterFormPhone" class="form-control p-2" placeholder="********" aria-describedby="materialRegisterFormPhoneHelpBlock" required  >
                    </div>
                </div>
            </div>
            
                        
               
                

            
            <button class="btn btn-outline-warning btn-rounded btn-block my-4 waves-effect z-depth-0   " style= "color:cornsilk" type="submit">Register</button>

          

            
           

        </form>
    
    </div>

</div>
<!-- Material form register -->
</div>


</center>







{% endblock %}
