{%extends 'base.html'%}
{% block title%} Huskdata(register) {%endblock%}
{% block content %}

<button type="submit" class="btn btn-fab-left btn-warning has-tooltip" data-placement="left" title="Register" onclick ="window.location.href = 'home';">
 <i class="fas fa-home"></i> </button>

 <button type="submit" class="btn btn-fab-right btn-warning has-tooltip" data-placement="left" title="Register" onclick ="window.location.href = 'signin';">
<i class="fas fa-arrow-alt-circle-right"></i></button>
<!-- Material form register -->
 {% if message is not "" %}
<div class="text-warning glass glass-warp p-2 mx-auto my-2 w-50"  >
   {{ message }}
</div>
  {% endif %}

<center>
<div class="glass-wrap glass  " style="background-color:rgba(0,0,0,0.5);">

    <h5 class="  h3 text-center " style="font-family:Times New Roman ;color : #FFC500;">
        Sign UP
    </h5>

    <!--Card content-->
    <div  >

        <!-- Form -->
        <form id="registration_form" class=" " style=" font-family:Times new Roman ;text-align:justify;" method="POST">
          {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <!-- First name vals :1 may not be numeric or alphanumeric -->
                    <div class="md-form">
                        <label for="materialRegisterFormFirstName">First name</label>
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" required placeholder="john" name="firstname" >
                        <span style="color:red;" class="error_form" id="fname_error_message" ></span>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <label for="materialRegisterFormLastName">Last name</label>
                        <input type="text" id="materialRegisterFormLastName" class="form-control" required placeholder="snow" name ="lastname" >
                        <span style="color:red;" class="error_form" id="lname_error_message"></span>
                    </div>
                </div>
            </div>

            <!-- Username vals: may not be numeric but can be alphanumeric  -->
            <div class="md-form mt-2">
                    <label for="materialRegisterForusername" >UserName</label>
                    <input type="text" id="materialRegisterFormUsername" class="form-control" required name = "username" placeholder ="john12" >
                    <span style="color:red;" class="error_form" id="uname_error_message"></span>
                        </div>
            <!--Email vals must contain @ ,should not start with number must have a valid provider -->
             <div class="md-form mt-2">
                <label for="materialRegisterFormEmail" >Email</label>
                <input type="email" id="materialRegisterFormEmail" class="form-control px-2" placeholder = "John.snow@xyz.com" required name = "email" >
                <span style="color:red;" class="error_form" id="email_error_message"></span>
            </div>


            <!-- Password vals : length must be > 8 chars must contain symbols , must not be fully numeric , must not be fully alpabetic , must not fall under 11111 1234  -->

             <div class="form-row">
                <div class="col">

                    <div class="md-form mt-5" >
                        <label for="materialRegisterFormPassword"  >Password</label>
                <input type="password" id="materialRegisterFormPassword" class="form-control p-2" placeholder="******** " aria-describedby="materialRegisterFormPasswordHelpBlock" required name = "password">
                <span style="color:red;" class="error_form" id="password_error_message"></span>
                    </div>
                </div>
                <div class="col">
                    <!-- confirm  vals : confirm password must match pasword -->
                    <div class="md-form mt-5">
                      <label for="materialRegisterFormPassword">Password (confirm)</label>
                <input type="password" id="materialRegisterFormPhone" class="form-control p-2" placeholder="********" aria-describedby="materialRegisterFormPhoneHelpBlock" required  >
                <span style="color:red;" class="error_form" id="confirm_password_error_message"></span>
                    </div>
                </div>
            </div>






            <button class="btn btn-outline-warning btn-rounded btn-block my-4 waves-effect z-depth-0   " style= "color:cornsilk" type="submit">Register</button>






        </form>

    </div>

</div>
<!-- Material form register -->
</div>


</center>


{% endblock %}

{% block 'Script' %}


$(function(){
  $("#fname_error_message").hide();
  $("#lname_error_message").hide();
  $("#uname_error_message").hide();
  $("#email_error_message").hide();
  $("#password_error_message").hide();
  $("#confirm_password_error_message").hide();


  var error_fname = false;
  var error_lname = false;
  var error_uname = false;
  var error_email = false;
  var error_password = false;
  var error_confirm_password = false;

  $("#materialRegisterFormFirstName").focusout(function(){
    check_fname();
  });
  $("#materialRegisterFormLastName").focusout(function(){
    check_lname();
  });
  $("#materialRegisterFormUsername").focusout(function(){
    check_uname();
  });
  $("#materialRegisterFormEmail").focusout(function(){
    check_email();0
  });
  $("#materialRegisterFormPassword").focusout(function(){
    check_password();
  });
  $("#materialRegisterFormPhone").focusout(function(){
    check_confirm_password();
  });

function check_fname(){
  var pattern = /^[a-zA-Z]*$/;
  var fname = $("#materialRegisterFormFirstName").val();
  if(pattern.test(fname) && fname !== ''){
    $("#fname_error_message").hide();
    $("#materialRegisterFormFirstName").css("border-bottom", "2px solid #34F458");
  }
  else{
    $("#fname_error_message").html("Should contain only characters");
    $("#fname_error_message").show();
    $("#materialRegisterFormFirstName").css("border-bottom", "2px solid #F90A0A");
    error_fname = true;
  }
}


function check_lname(){
  var pattern = /^[a-zA-Z]*$/;
  var lname = $("#materialRegisterFormLastName").val();
  if(pattern.test(lname) && lname !== ''){
    $("#lname_error_message").hide();
    $("#materialRegisterFormLastName").css("border-bottom", "2px solid #34F458");
  }
  else{
    $("#lname_error_message").html("Should contain only characters");
    $("#lname_error_message").show();
    $("#materialRegisterFormLastName").css("border-bottom", "2px solid #F90A0A");
    error_lname = true;
  }
}

function check_uname(){
  var pattern = /^[0-9a-zA-Z]+$/;
  var uname = $("#materialRegisterFormUsername").val();
  if(pattern.test(uname) && uname !== ''){
    $("#uname_error_message").hide();
    $("#materialRegisterFormUsername").css("border-bottom", "2px solid #34F458");
  }
  else{
    $("#uname_error_message").html("must contain characters or digits or both");
    $("#uname_error_message").show();
    $("#materialRegisterFormUsername").css("border-bottom", "2px solid #F90A0A");
    error_uname = true;
  }
}



function check_email(){
  var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  var email = $("#materialRegisterFormEmail").val();
  if(pattern.test(email) && fname !== ''){
    $("#email_error_message").hide();
    $("#materialRegisterFormEmail").css("border-bottom", "2px solid #34F458");
  }
  else{
    $("#email_error_message").html("Invalid Email");
    $("#email_error_message").show();
    $("#materialRegisterFormEmail").css("border-bottom", "2px solid #F90A0A");
    error_email = true;
  }
}



function check_password(){
  var password_length = $("#materialRegisterFormPassword").val().length;
  if(password_length < 8){
    $("#password_error_message").html("Atleast 8 characters");
    $("#password_error_message").show();
    $("#materialRegisterFormPassword").css("border-bottom", "2px solid #F90A0A");
    error_password = true;
  }
  else{
    $("#password_error_message").hide();
    $("#materialRegisterFormPassword").css("border-bottom", "2px solid #34F458");
  }
}

function check_confirm_password(){
  var password = $("#materialRegisterFormPhone").val();
  var confirm_password = $("#form_confirm_password").val();
  if(password !== confirm_password){
    $("#confirm_password_error_message").html("Password did not matched ");
    $("#confirm_password_error_message").show();
    $("#materialRegisterFormPhone").css("border-bottom", "2px solid #F90A0A");
    error_confirm_password = true;
  }
  else{
    $("#confirm_password_error_message").hide();
    $("#materialRegisterFormPhone").css("border-bottom", "2px solid #34F458");
  }
}

$("#registration_form").submit(function(){
  error_fname = false;
  error_lname = false;
  error_uname = false;
  error_email = false;
  error_password = false;
  error_confirm_password = false;

  check_fname();
  check_lname();
  check_uname();
  check_email();
  check_password();
  check_confirm_password();


  if(error_fname === false && error_lname === flase && error_uname === false && error_email === flase && error_password === false && error_confirm_password === flase){
    alert("Registration Succesfully");
    return true;
  } else {
    alert("please fill the form correctly");
    return false;
  }

});
});
{% endblock %}
