{% extends 'base_.html' %}
{% block person_name %}
{{username}}
{% endblock person_name %}
{% block content %}

<center>
  <div>
    <h1 class ="orange-text">Please Upload the CSV file</h1>
  </div>
</center>

 <div class = "row">

         <form class = "col s12" method ='POST' enctype="multipart/form-data">
          {% csrf_token %}
            <div class = "row">
               <label></label>
               <div class = "file-field input-field">
                  <div class = "btn">
                     <span>Browse</span>
                     <input type = "file" name = 'dataset' />
                  </div>

                  <div class = "file-path-wrapper">
                     <input class = "file-path validate" type = "text"
                        placeholder = "Upload file" />
                        <button class="btn waves-effect waves-light" type="submit" >Submit
    <i class="material-icons right">upload</i>
  </button>

                  </div>
               </div>
            </div>
        </form>
{% endblock content %}
