
{% extends 'base.html'%}
{%block title %}
HUSK DATA
{% endblock%}
    {%block content%}

			<div class="jumbotron jumbotron-fluid" >
					<div class="container">
					  <h1 class="display-4">Husk-Data </h1>
  					  <p class="lead">A Data-Prep Tool
              </p>
              
					</div>
				  </div>

    <div class="jumbotron bg-transparent " >
    <div class="container" >
		<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">

        <h5 class="card-title">Already a <b>"Member"</b> </h5>
        <p class="card-text">Go straight</p>
        <a href="{% url 'login:login' %}" class="btn btn-primary">Login</a>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">

        <h5 class="card-title">Want to be a <b>"Member"</b></h5>
        <p class="card-text"> take a momment and get registered  </p>

        <a href="{%url 'Register:signup' %}" class="btn btn-primary">Register</a>

      </div>
    </div>
  </div>
</div>
</div>
</div>
	{%endblock %}
